@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  background-color: #5426B8;
  margin: 0;
}



.estrelas1 {
  position: fixed;
  background-image: url(./imagens/stars.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
  animation: moveBackground 120s linear infinite;
}

@keyframes moveBackground {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.estrelas2 {
  position: fixed;
  background-image: url(./imagens/stars.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
  animation: moveBackground1 120s linear infinite;
}

@keyframes moveBackground1 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.App {
  text-align: center;
}

/* BARRA DE NAVEGAÇÃO */

header {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 8vh 4vh;
  text-align: center;
}

.busca {
  background-color: #f3f3f3;
  border-radius: 30px;
  height: 45%;
  align-content: center;
  text-align: left;
  grid-column: 4 / span 2;
}

input {
  border: none;
  outline: none;
  background-color: #f3f3f3;
  margin-left: 3%;
  height: 70%;
  width: 93%;
  transition: background-color ease 0.3s;
}

input:hover {
  background-color: #dddddd;
  border-radius: 30px;
}



.buscar {
  background-color: #f3f3f3;
  border-radius: 10px;
  height: 45%;
  width: 20%;
  margin-left: 15%;
  align-content: center;
  grid-column: 6;
  grid-row: 1;
  transition: background-color ease 0.3s;
}

.buscar > img {
  max-width: 35%;
  opacity: 60%;
}

.buscar > img:hover {
  cursor: pointer;
}

.buscar:hover {
  cursor: pointer;
  background-color: #dddddd;
}



.buscaDown {
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  height: 100%;
  width: 50%;
  margin: auto;
  align-content: center;
  grid-row: 2;
  grid-column: 4 / 2 span;
  z-index: 1;
  transition: opacity 0.2s ease;
}

.buscaDown > p {
  margin: 0;
  font-size: 80%;
}

/* TITULO */

.Titulo {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-template-rows: 40vh;
}

.logo {
  background-image: url(imagens/logo.png);
  background-size: contain;
  border-radius: 10px;
  margin: auto;
  height: 70%;
  width: 100%;
  grid-column: 2;
  transition: ease 0.3s;
}

.logo:hover {
  scale: 1.2;
}

.devs {
  background-image: url(imagens/thalia.jpg);
  background-size: cover;
  border-radius: 10px;
  margin: auto;
  height: 90%;
  width: 80%;
  grid-column: 4;
  transition: background-image ease 0.3s;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 10% 10% 60% 10% 10%;
}

.dev2 {
  background-image: url(imagens/valdir.jpg);
  background-size: cover;
  border-radius: 10px;
  margin: auto;
  height: 90%;
  width: 80%;
  grid-column: 4;
  transition: background-color ease 0.3s;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 10% 10% 60% 10% 10%;
}

.caixaEquipe {
  border: 1px solid #ffffff;
  background-color: rgb(155, 108, 255);
  opacity: 80%;
  border-radius: 20px;
  grid-column: 3 / 4 span;
  grid-row: 1;
  box-shadow: 0px 6px 2px rgba(0, 0, 0, 0.1);
}

.txtEquipe {
  font-family: "Lexend", sans-serif;
  color: #ffffff;
  grid-column: 3 / 4 span;
  grid-row: 1;
  z-index: 1;
  margin: auto;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: "Lexend", sans-serif;
  align-content: center;
  text-align: left;
  margin: auto;
  color: #ffffff;
  font-size: 150%;
}

.setaECaixa {
  display: none;
  grid-column: 1;
  grid-row: 3;
  background-color: rgb(155, 108, 255);
  opacity: 80%;
  height: 20%;
  width: 40%;
  margin: auto;
  border-radius: 20px;
  border: 1px solid #ffffff;
  box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1);
  transition: background-color ease 0.3s;
}

.setaECaixa:hover {
  cursor: pointer;
  background-color: rgb(178, 142, 255);
}





.setaDCaixa {
  grid-column: 4;
  grid-row: 3;
  background-color: rgb(155, 108, 255);
  opacity: 80%;
  height: 20%;
  width: 40%;
  margin: auto;
  border-radius: 20px;
  border: 1px solid #ffffff;
  box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.1);
  transition: background-color ease 0.3s;
}

.setaDCaixa:hover {
  cursor: pointer;
  background-color: rgb(178, 142, 255);
}

.nomeCaixa {
  grid-column: 2 / 2 span;
  grid-row: 4;
  min-width: fit-content;
  color: #ffffff;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
  font-family: "Lexend", sans-serif;
}

#Nome {
  color: #f3f3f3;
  background-color: rgba(155, 108, 255, 0.7);
  border-radius: 10px;
  border: solid 1px rgba(255, 255, 255, 0.7)
}

/* DROPDOWN */

.dropBtn {
  position: relative;
  display: inline-block;
  background-color: #f3f3f3;
  border-radius: 10px;
  border: none;
  height: 45%;
  width: 20%;
  margin-left: 70%;
  align-content: center;
  grid-column: 8;
  transition: background-color ease 0.3s;
}

#dropdownBtn:hover {
  cursor: pointer;
  background-color: #dddddd;
}

#dropdownBtn > img {
  max-width: 60%;
  opacity: 60%;
}

#dropdownBtn > img:hover {
  cursor: pointer;
}

#dropdownBtn:hover {
  cursor: pointer;
  background-color: #dddddd;
}

.dropdown-content {
  display: none;
  grid-column: 8;
  background-color: #f9f9f9;
  width: 90%;
  z-index: 1;
  margin-top: 10%;
  border-radius: 15px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 90%;
  font-family: "Lexend", sans-serif;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 15px;
}

/* PROJETOS */

.Projetos {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 50vh;
}

.caixaOpacidade {
  background-color: rgba(155, 108,0255, 0.4);
  width: 100%;
  height: 80%;
  grid-column: 2;
  margin: auto;
  border-radius: 20px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 12.5% 87.5%;
}

.caixaTexto2 {
  font-family: "Lexend", sans-serif;
  margin-top: 5%;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: rgba(155, 108, 255, 0.5);
  border-radius: 20px;
  width: 100%;
  margin-left: 50%;
  align-self: center;
  grid-column: 3;
  grid-row: 1;
  box-shadow: 0px 6px 2px rgba(0, 0, 0, 0.1);
}

.jogo1 {
  grid-column: 1 / 2 span;
  grid-row: 2;
  width: 70%;
  height: 73.96%;
  margin: auto;
  border-radius: 20px;
  color: #ffffff;
  background-image: url(imagens/icon-tech-tales.jpg);
  background-size: cover;
  transition: scale ease 0.3s;
}

.jogo1:hover {
  cursor: pointer;
  scale: 1.1;
}

.jogo2 {
  grid-column: 3 / 2 span;
  grid-row: 2;
  width: 70%;
  height: 73.96%;
  margin: auto;
  border-radius: 20px;
  background-color: #f3f3f3;
  transition: scale ease 0.3s;
}

.jogo2:hover {
  cursor: pointer;
  scale: 1.1;
}

.jogo3 {
  grid-column: 5 / 2 span;
  grid-row: 2;
  width: 70%;
  height: 73.96%;
  margin: auto;
  border-radius: 20px;
  background-color: #f3f3f3;
  transition: scale ease 0.3s;
}

.jogo3:hover {
  cursor: pointer;
  scale: 1.1;
}

.infoJ1 {
  font-family: "Lexend", sans-serif;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(54, 13, 107, 0.6), rgba(54, 13, 107, 0.8));
  border-radius: 20px;
  align-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.infoJ1 > p {
  margin: 0;
  font-size: larger;
}

.infoJ2 {
  font-family: "Lexend", sans-serif;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(54, 13, 107, 0.3));
  border-radius: 20px;
  align-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.infoJ2 > p {
  margin: 0;
  font-size: larger;
}

.infoJ3 {
  font-family: "Lexend", sans-serif;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(54, 13, 107, 0.3));
  border-radius: 20px;
  align-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.infoJ3 > p {
  margin: 0;
  font-size: larger;
}


/* SHOW e HIDE */

.show3 {
  opacity: 1;
}

.show2 {
  display: flex;
}

.show {
  display: block;
}

.hide {
  display: none;
}