@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  background-color: #5426B8;
  background-image: url(./imagens/stars.png);
  background-size: cover;
  margin: 0;
}

.App {
  text-align: center;
}

/* BARRA DE NAVEGAÇÃO */

.Navbar {
  text-align: center;
}

header {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 8vh;
}

.busca {
  background-color: #f3f3f3;
  border-radius: 30px;
  height: 45%;
  align-content: center;
  text-align: left;
  grid-column: 4 / span 2;
}

input {
  border: none;
  outline: none;
  background-color: #f3f3f3;
  margin-left: 3%;
  height: 70%;
  width: 93%;
  transition: background-color ease 0.3s;
}

input:hover {
  background-color: #dddddd;
  border-radius: 30px;
}



.buscar {
  background-color: #f3f3f3;
  border-radius: 10px;
  height: 45%;
  width: 20%;
  margin-left: 15%;
  align-content: center;
  grid-column: 6;
  transition: background-color ease 0.3s;
}

.buscar > img {
  max-width: 35%;
  opacity: 60%;
}

.buscar > img:hover {
  cursor: pointer;
}

.buscar:hover {
  cursor: pointer;
  background-color: #dddddd;
}



.menu {
  position: relative;
  display: inline-block;
  background-color: #f3f3f3;
  border-radius: 10px;
  height: 45%;
  width: 20%;
  margin-left: 30%;
  align-content: center;
  grid-column: 8;
  transition: background-color ease 0.3s;
}

.menu > button > img {
  max-width: 60%;
  opacity: 60%;
}

.menu > img:hover {
  cursor: pointer;
}

.menu:hover {
  cursor: pointer;
  background-color: #dddddd;
}



/* TITULO */

.Titulo {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-template-rows: 40vh;
}

.logo {
  background-color: #905CFF;
  border-radius: 10px;
  margin: auto;
  height: 70%;
  width: 100%;
  grid-column: 2;
  transition: background-color ease 0.3s;
}

.devs {
  background-color: #905CFF;
  border-radius: 10px;
  margin: auto;
  height: 90%;
  width: 80%;
  grid-column: 4;
  transition: background-color ease 0.3s;
}

.title {
  font-family: "Lexend", sans-serif;
  align-content: center;
  text-align: left;
  margin: auto;
  color: #ffff;
  font-size: 150%;
}

/* PROJETOS */

.Projetos {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 50vh;
}

.caixaProjetos {
  background-color: #905CFF;
  opacity: 50%;
  width: 80%;
  height: 80%;
  grid-column: 2;
  margin: auto;
  border-radius: 20px;
}

/* DROPDOWN */

#dropdownBtn {
  background-color: #f3f3f3;
  border: none;
  border-radius: 10px;
  align-content: center;
  grid-column: 8;
  transition: background-color ease 0.3s;
}

#dropdownBtn:hover {
  cursor: pointer;
  background-color: #dddddd;
}

.show {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  margin-top: 15%;
  border-radius: 15px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 15px;
}